{{ define "main" }}

<div class="section">
  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <h1 class="display-1">Our Team</h1>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container mb-5 mt-5">
    <div class="row mb-5">
      <div class="col-lg-4 col-md-4 col-sm-12 col-12">
        <img src="/Raphael Baumann_small.jpg" alt="Raphael Baumann" style="width:100%;">
      </div>
      <div class="col">
        <p>Raphael is a young, dynamic lawyer and notary public based in the heart of the Crypto Valley in Zug, Switzerland. Since 2017 Raphael is active in crypto space and is advising corporations and individuals on the several regulations around cryptocurrencies, blockchain and DeFi. For the past three years he has been with PST Legal, a boutique law firm specializing in blockchain regulations, fintech, DeFi, commercial law and startups. He has advised clients on international issues and helped various developers, investors, and organizations with their preeminent and emerging projects to maintain compliance with Swiss law.<br><br>
        As a passionate sportsman, he ran the marathon below 3 hours, finished its first 70.3 Ironman and is often hiking and skiing in the Swiss alps.</p>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-lg-4 col-md-4 col-sm-12 col-12">
        <img src="/dr-wulf-kaal.jpg" alt="Wulf Kaal" style="width:100%;">
      </div>
      <div class="col">
        <p>Dr. Kaal is a Professor of Law at the University of St. Thomas School of Law and a leading expert at the intersection of law, business, and technology – with a focus on emerging technology applications and decentralized governance.	Dr. Kaal’s proprietary datasets and research concentrate on decentralized governance, emerging technology, innovation, digital assets, smart contracts, initial coin offerings (ICOs), dynamic regulatory methods, hedge funds, and corporate finance. A noted author and speaker, he has published widely on blockchain innovation in law and corporate governance and he speaks regularly at leading conferences and educational institutions around the world.
        In addition to his academic work, Dr. Kaal advises international policymakers, established corporations, startups, and venture capital funds on emerging technology solutions in FinTech and LegalTech. Dr. Kaal has extensive experience serving as an expert witness, a litigation consultant, and a FINRA arbitrator.</p>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-lg-4 col-md-4 col-sm-12 col-12">
        <img src="/tim_lacine.jpg" alt="Wulf Kaal" style="width:100%;">
      </div>
      <div class="col">
        <p> Tim is an analytical learner. Strategic finance and leadership represent his topics of choice.  He aims to improve system processes. Previous positions found him teaching accounting, finance and tax to undergraduates. He excels at both people and data skills, working for numerous companies as financial controller and human resource manager.</p>
      </div>
    </div>
  </div>
</div>

{{ end }}
