/* General */

.btn-primary{
  background-color: #03A9FF;
  border-radius: 0px;
  width:200px;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
label,
.form-text,
input,
.btn-primary{
  font-family: 'Fira Code', monospace;
}

h1{
  font-weight: 700 !important;
}

/* Index.html */

.hero-section{
  background-image: url(/swiss-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
