<div class="container footer mt-auto border-top">
    <div class="row mb-5 mt-5">
      <div class="col-lg-3">
        <img src="/ba-logo-color.png" alt="Byzantine Association Logo" style="width:140px;">
        <p class="boilerplate mt-3 small">
          <strong>Byzantine Association AG</strong><br>
          Baarerstrasse 10<br>
          6300 Zug<br>
          Switzerland<br></p>
      </div>

      <div class="col-lg-2 col-sm-6 col-6 mt-3">
        <h6>Quick Links</h6>
        <ul class="nav flex-column small">
          <li class="nav-item">
            <a class="nav-link ps-0" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ps-0" href="/team/">Our Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ps-0" href="/terms-of-use/">Terms of Use</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ps-0" href="/privacy-policy/">Privacy Policy</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 mt-3 ms-auto border-start">
        <form name="subscribe" method="POST" data-netlify="true">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Get updates to your inbox</label>
            <input placeholder="you@email.com" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <button type="submit" class="btn btn-primary btn-sm">Submit</button>
        </form>
      </div>

  <!-- JavaScript Bundle with Popper -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
