<div class="container footer mt-auto">
    <div class="row mb-5 mt-5">
      <div class="col-lg-4">
        <img src="/ba-logo-color.png" alt="Byzantine Association Logo" style="width:140px;">
        <p class="boilerplate mt-3 small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>

      <div class="col-lg-2 col-sm-6 col-6 mt-3">
        <h6>Quick Links</h6>
        <ul class="nav flex-column small">
          <li class="nav-item">
            <a class="nav-link ps-0" href="#">Menu Item</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ps-0" href="#">Menu Item</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ps-0" href="/#">Menu Item</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ps-0" href="/white-paper">Menu Item</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ps-0" href="https://medium.com/teaxyz">Menu Item</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-2 col-sm-6 col-6 mt-3 mb-3">
        <h6>Legal</h6>
        <ul class="nav flex-column small">
          <li class="nav-item">
            <a class="nav-link ps-0" href="#">Menu Item</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ps-0" href="#">Menu Item</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ps-0" href="#">Menu Item</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ps-0" href="#">Menu Item</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 mt-3">
        <h6 class=" mb-4">Get updates to your inbox</h6>

<!-- Start Sendx Form Module -->

      <div class="sendx-modal-TRDBBvXuDV3vy1t0U684MU">
        <div class="sendx-modal-content-TRDBBvXuDV3vy1t0U684MU sendx-modal">
          <div class="sendx-modal-right-TRDBBvXuDV3vy1t0U684MU">
            <div class="sendx-modal-body-TRDBBvXuDV3vy1t0U684MU">
	             <form class="sendx-submit-form-TRDBBvXuDV3vy1t0U684MU" method="post" action="https://app.sendx.io/api/v1/form/TRDBBvXuDV3vy1t0U684MU">
	                <input id="SubscriberForm-Email-TRDBBvXuDV3vy1t0U684MU" type="Email" class="sendx-field-TRDBBvXuDV3vy1t0U684MU email-field mb-3" data-attr-type="0" name="Email" placeholder="Your Email" required>
	                <input type="submit" class="sendx-submit-TRDBBvXuDV3vy1t0U684MU sendx-button-TRDBBvXuDV3vy1t0U684MU btn-primary email-submit"  name="subscribe" value="Subscribe">
	               </input>
               </form>
	             <div class="sendx-close-text-TRDBBvXuDV3vy1t0U684MU">
              <p></p>
	           </div>
	         <div style="display:flex; align-items:baseline;" class="sendx-gdpr-TRDBBvXuDV3vy1t0U684MU-wrapper">
	               <input class="sendx-gdpr-TRDBBvXuDV3vy1t0U684MU" type="checkbox"></input><span class="sendx-gdpr-content-TRDBBvXuDV3vy1t0U684MU ms-2"><p>Opt in to receive updates from us </p></span>
    	         </div>
    	       </div>
          </div>
        </div>
    </div>

<!-- End Sendx Form -->


  <!-- JavaScript Bundle with Popper -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
