{{ define "main" }}

<!-- hero section -->

  <div class="section hero-section">
    <div class="container mt-5 mb-5">
      <div class="row">
        <div class="col">
          <h1>We support emerging blockchain technologies</h1>
          <button type="button" class="btn btn-primary btn-lg">Learn More</button>
        </div>
      </div>
    </div>
  </div>

<!-- Vision -->

<div class="section">
  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <h2>Vision</h2>
        <p>The Byzantine Association is a recognized nonprofit association under Swiss law. The BA engages with existing and future donors to create a long lasting and ongoing program of grants supporting the research and development of emerging technologies. The BA supports open source and transparent scientific research for emerging technologies. The BA provides grants to developers and scientists in Switzerland and abroad. All research results are published under an open source license and may be freely used by anyone.</p>
      </div>
    </div>
  </div>
</div>

{{ end }}
